.footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: $bg-light;
}

.footer-list {
    line-height: $line-height-footer;
}

.footer-link {
    font-weight: 400;
    text-transform: capitalize;
    color: $gray-600;
    opacity: 0.6;
    transition: opacitty 0.2s ease;
    & img {
        width: 30px;
        height: 22px;
    }
    &:hover {
        opacity: 1;
        color: $black;
    }
    &--app {
        @extend .footer-link;
        border: 1px solid $black;
        border-radius: $radius;
        padding: 8px;
        color: $black;
        text-transform: uppercase;
    }
    &--media {
        @extend .footer-link;
        & img {
            width: 25px;
            height: 25px;
        }
    }
}
.social-media li {
    margin-right: 15px;
    &:last-child {
        margin-right: 0px;
    }
}
.footer-copyright {
    margin: 30px 40px;
    padding-top: 20px;
    border-top: 1px solid $gray-300;
    font-weight: 400;
    color: $text-color;
}
