.insof-card-image {
    width: 400px;
    border-radius: $radius;
    -webkit-user-drag: none;
}
.form-control {
    border: 0;
    color: $text-color;
    &::-webkit-input-placeholder {
        color: $text-color;
    }
    &:-ms-input-placeholder {
        color: $text-color;
    }
    &::-ms-input-placeholder,
    &::-moz-placeholder {
        color: $text-color;
    }
    &::-moz-placeholder {
        color: $text-color;
    }
    &:focus {
        -webkit-box-shadow: 0px 0px 5px 0px #d2d2d2;
                box-shadow: 0px 0px 5px 0px #d2d2d2;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    cursor: pointer;
    & option {
        font-weight: 400;
        display: block;
        white-space: pre;
        min-height: 1.3em;
        padding: 3px;
    }
}

.checkbox-custom {
    position: relative;
    padding-left: 1.875rem;
    margin: 2rem 0;
}

.checkbox-custom__input {
    display: none;
}

.checkbox-custom__label {
    font-weight: $font-weight-subtitle;
    &.checkbox-custom__label::before {
        content: "";
        display: block;
        width: 21px;
        height: 21px;
        border: 1px solid $text-color;
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 3px;
        z-index: 1;
    }
    &.checkbox-custom__label::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: url(../img/check-icon.svg) no-repeat;
        background-size: 16px 16px;
        position: absolute;
        left: 3px;
        top: 2px;
        z-index: 2;
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
    }
}

.checkbox-custom__input:checked+.checkbox-custom__label::after {
    opacity: 1;
    display: block;
}