@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "variables";

/* Base */

@import "site-base";

/* Button */

@import "buttons";

/* Navbar */

@import "site-navbar";

/* Intro */

@import "intro";

/* Opportunities */

@import "opportunities";

/* Get-card */

@import "get-card";

/* Partners */

@import "partners";

/* Footer */

@import "footer";

/* Small-desktop */

@import "small-desktop";

/* Faq */

@import "faq";

/* News */

@import "news";

/* Traffic */

@import "traffics";
/* Contacts */

@import "contacts";

/* Personal-cabinet */

@import "cabinet";

/* Review */

@import "reviews";

/* Modal */

@import "modal";

/* Responsive */

@import "responsive";
